<%= form_for [:admin, @word] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.select :course_id, options_for_select(@courses, params[:course_id]) %>
  <%= f.fields_for :options do |ff| %>
     <%= render "option_fields", f: ff %>
  <% end %>
  <div class="col-md-12" id="add-answer">
    <%= link_to_add_fields "Add option", f, :options %>
  </div>
  <%= f.submit (f.object.new_record? ? t("buttons.word.create") : t("buttons.word.update")), class: "btn btn-primary" %>
<% end %>