<% provide :title, "Words" %>
<div class="row">
  <aside class="col-md-8">
    <h1>Words</h1>
    <table class="table table-bordered table-hover">
      <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Course</th>
        <th>Created_at</th>
        <th>Updated-at</th>
      </tr>
      <% @words.each do |word| %>
        <tr data-link="<%= admin_word_path(word) %>">
          <td><%= word.id %></td>
          <td><%= word.content %></td>
          <td><%= word.course.name %></td>
          <td><%= word.created_at.strftime("%Y/%m/%d") %></td>
          <td><%= word.updated_at.strftime("%B %e %Y") %></td>
        </tr>
      <% end %>
    </table>
  </aside>
  <aside class="col-md-4">
    <br>
    <br>
    <%= link_to t("links.word.new"), new_admin_word_path, class: "btn btn-primary" %>
    <%= render "shared/import_form", model_name: Word %>
  </aside>
</div>
