<li id="word-<%= word.id %>">
  <span class="content">
    <h2 ><%= word.content %></h2>
  </span>
  <%= form_for(@lesson.answers.build) do |f| %>
    <% word.print_options.each do  |option| %>
      <%= label :option, class: "radio inline" do %>
        <%= f.radio_button :option_id, option.id %>
        <%= option.content %>
      <% end %>
    <% end %>
  <% end %>
</li>
