<% provide :title, t("titles.users") %>
<div class="row">
  <aside class="col-md-8">
    <h1>users</h1>
    <table class="table table-bordered table-hover">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
      <% @users.each do |user| %>
        <tr data-link="<%= admin_user_path(user) %>">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
          <td><%= user.updated_at.strftime("%B %e %Y") %></td>
        </tr>
      <% end %>
    </table>
  </aside>
</div>