<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-8">
    <h1><%= @user.name %></h1>
    <table class="table table-bordered table-hover">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= @user.updated_at.strftime("%B %e %Y") %></td>
      </tr>
    </table>
  </aside>
  <aside class="col-md-4">
    <%= link_to t("links.user.delete"),
      [:admin, @user], method: :delete, data: {confirm: "You sure?"}, class: "btn btn-primary" %>
  </aside>
</div>
