<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("links.logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("links.home"), root_path %></li>
        <li><%= link_to t("links.help"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("links.users"), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "layoust.account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("links.profile"), current_user %></li>
              <li><%= link_to t("links.settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("links.log_out"), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("links.log_in"), login_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <% if logged_in? && current_user.admin? %>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to t("links.users"), admin_users_path %></li>
            <li><%= link_to t("links.words"), admin_words_path %></li>
            <li><%= link_to t("links.courses"), admin_courses_path %></li>
          </ul>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
